*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/decorative-soft-blue-watercolor-texture-design-background_1055-13814.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: green;
    font-size: 16px;
    cursor: pointer;
}