* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

html,
body {
	font-family: Roboto, sans-serif, arial;
	font-size: 14px;
	color: #242424;
	font-weight: 400;
}

section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	background-color: #ffffff;
	overflow-x: hidden;
}

.width-100 {
	width: 100%;
	display: flex;
}

.width-25 {
	width: 25%;
	float: left;
}

.width-33 {
	width: 33%;
	float: left;
}

.width-50 {
	float: left;
	width: 50%;
}

.width-66 {
	width: 66%;
	float: left;
}

.width-75 {
	width: 75%;
	float: left;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-50 {
	margin-top: 50px;
}

											/* Header*/

header{
	position: fixed;
    z-index: 999;
    width: 100%;
}
nav{
	
	background-color: #68bb59;

}

.logo {
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo img {
	width:50px;
	height: 50px;
	border-radius: 50%;
}

.head-left ul {
	list-style: none;
	display: flex;
}

.head-left ul li {
	border-right: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	display: flex;
	padding: 15px;
	color: white;
}

.head-left ul li a {
	color: white;
	text-decoration: none;
}
.noti{
	overflow: hidden;
	width:55%
}
.notification {
	padding-top: 17px;
	width:100%;
	/* overflow: hidden; */
	color: white;
	animation-name: left;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	white-space: nowrap;
}
@keyframes left {
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
	
}
/* .collapse{
	width: ;
} */
.notification span img {
	height: 14px;
	width: 30px;
}

.notification span {
	padding-right: 5px;
}

.head-right ul {
	list-style: none;
	float: right;
}


.head-right ul li {
	border-right: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	padding: 15px;
	color: white;
}

.head-right ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.head-span img {
	height: 14px;
	width: 30px;
}


										/* Home   */
.college {
	width: 100%;
	/* min-height: 500px;
	object-fit: cover; */
	 /* The image used */
  background-image: url("https://www.estudarfora.org.br/wp-content/uploads/2020/01/tcd.jpg");

  /* Set a specific height */
  height: 450px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*NOTICE BOARD SECTION NOTICE BOARD SECTION NOTICE BOARD SECTION NOTICE BOARD SECTION NOTICE BOARD SECTION NOTICE BOARD SECTION   */
.note-event {
	padding: 10px 0px;
	/* border: 1px solid #e3e3e3; */
	width: 48%;
	margin: 1%;
}

.notice-board {
	border: 5px solid #9b9a9c;
	padding: 10px;
	color: rgb(255, 255, 255);
	background-color: #7285f1c7;
	margin-top: 15px;
	width: 100%;
	height:400px;
	overflow: hidden;
	position: relative;
	/* z-index: 1; */
}
.up{
	width: 100%;
	animation-name: up;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/* white-space: nowrap; */
}
@keyframes up{
	from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(-200%);
	}
}

/* .notice-board ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	float: left;
} */

/* .notice-board ul li {
	font-size: 14px;
	margin-bottom: 20px;
	width: 100%;
	/* float: left; */
 */
 .lines{
	width: 100;
 }
.lines p{
	font-size: 16px;
	max-width: 100%;
}

/*EVENT LIST SECTION EVENT LIST SECTION EVENT LIST SECTION EVENT LIST SECTION EVENT LIST SECTION EVENT LIST SECTION EVENT LIST SECTION   */
.recent-board{
	border: 5px solid #9b9a9c;
	margin-top: 15px;
	padding: 10px 20px 0px 0px;
	color: rgb(0, 0, 0);
	width: 100%;
	height:400px;
	overflow: hidden;
	position: relative;
	/* z-index: 1; */
}
.event-list {
	padding: 10px;
	width: 100%;
	display: flex;
	/* border-bottom: 1px solid black; */
	/* border: 5px solid #9b9a9c; */
}

.event-date {
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: #7285f1c7;
	color: #fff;
	padding: 10px 10px;
	border-radius: 5px;
}

.event-date p {
	font-weight: 400;
}

.event-date h4 {
	font-weight: 400;
	font-size: 28px;
}

.event-content {
	width: calc(100% - 110px);
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

/* campus information */
.heading-text {
	color: #064727;
	display: inline-block;
	font-size: 28px;
	line-height: 20px;
	margin-top: 20px;
	position: relative;
  margin-right: 0rem;
}
/* .underlined {
  position: relative;
  margin-right: 1rem;
} */
.heading-text:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 10px;
  width: 50%;
  border: solid 4px #cb1829;
  border-color: #cb1829 transparent transparent transparent;
  border-radius: 75%;
}
/* .heading-border {
	background-color: #ffc600;
	display: inline-block;
	height: 3px;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	width: 100px;
} */
.stud {
	width: 50%;
}
.girl{
	width:500px;
	height: 500px;
	margin-right: 17px;
	margin-bottom: 35px;
	object-fit: cover;
}
.about-campus {
	width: 50%;
	padding: 20px;
}

.about-campus p {
	color: #65716b;
	font-size: 16px;
	margin-top: 15px;
	line-height: 23px;
}

.about-campus ul {
	list-style: none;
	margin-top: 30px;
	width: 100%;
	float: left;
}

.about-campus li {
	color: #626262;
	font-size: 15px;
	margin-bottom: 8px;
}

.about-campus li i {
	color: #68bb59;
}

.about-year {
	margin-top: 40px;
}

.about-year h3 {
	font-size: 45px;
	color: #68bb59;
	line-height: 0;
}

.about-year span {
	font-size: 40px;
	color: #68bb59;
	position: relative;
	bottom: 5px;
}

.about-year h5 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 20px;
}

.about-campus a {
	padding: 15px;
	border: none;
	background-color: #68bb59;
	color: white;
	border-radius: 2px;
	font-size: 14px;
	margin-top: 25px;
	float: left;
	text-decoration: none;
}

/*ACHIEVEMENT */
.achi {
	display: flex;
	flex-wrap: wrap;
}

.achievement,
.achievement-banner {
	padding: 10px;
}

.block {
	width: 438px;
	min-height: auto;
}

.achievement h3 {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.1px;
}

.achievement p {
	margin-top: 10px;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.1px;
}

.achievement a {
	padding: 10px 14px;
	background-color: #68bb59;
	color: white;
	border-radius: 2px;
	font-size: 14px;
	margin-top: 15px;
	text-decoration: none;
	float: left;
}
.achievement-banner img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
}
.achievement-banner h5 {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	line-height: 20px;
}

.achievement-banner p {
	font-size: 16px;
	margin-top: 2px;
}

/* POPULAR COURSE  */
.Pop {
	min-height: 60vh;
	background-color: #063262;
	/* flex-direction: column; */
}

.popular-course {
	width: 33%;
	color: white;
	margin-left: 40px;
	/* min-height: auto; */
}

.popular-course h2 {
	color: white;
	font-size: 28px;
}

.popular-course p {
	font-size: 14px;
	margin-top: 10px;
	line-height: 25px;
	font-weight: 400;
}

.popular-course a {
	text-decoration: none;
	color: #064727;
	float: left;
	margin-top: 20px;
}

.Courses {
	width: 60%;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.course-list {
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 0px;
	width: 20%;
}

.course-list i {
	font-size: 20px;
}

.bg-yellow {
	background: #ffc252
}

.bg-blue {
	background: #add8e6;
}

.bg-green {
	background: #90ee90;
}

.bg-grey {
	background: #d3d3d3;
}

/* Review Page */
.review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.review h1,
span {
	text-align: left;
}

.carousel {
	display: flex;
	width: 100%;
	overflow-x: auto;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.review-collection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
	padding-right: 0em;
	/* animation: spin 10s infinite linear; */
}

/* @keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
} */

.testimonial-card {
	width: 300px;
	background: #b8b4b4;
	padding: 20px 25px;
	border-radius: 5px;
	position: relative;
	text-align: left;
	box-shadow: 0 15px 35px rgba(31, 29, 29, 0.1);
}

.quote-icon {
	font-size: 70px;
	color: green;
	position: absolute;
	top: -35px;
	left: 25px;

}

.stars {
	color: #f7b500;
	font-size: 22px;
	margin-bottom: 15px;
	letter-spacing: 3px;
}

.message {
	color: #7b8a9a;
	font-size: 15px;
	line-height: 1.7;
	margin-bottom: 20px;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-top: 1px solid green;
}

.profile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(135deg, #0a84ff, #00c6ff);
	padding: 3px;
	margin-top: 15px;
}

.profile h3 {
	margin: 0;
	font-size: 20px;
	color: #063262;
}

.role {
	font-size: 14px;
	color: #0a84ff;
	margin-top: 3px;
}

/*PLACEMENT SECTION PLACEMENT SECTION PLACEMENT SECTION PLACEMENT SECTION PLACEMENT SECTION PLACEMENT SECTION PLACEMENT SECTION    */
.placement {
	background-image: url('../images/bg-img.jpg');
	background-size: cover;
	min-height: 70vh;
	padding: 20px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placement-sect {
	width: 50%;
	padding: 50px;
}

.placement-sect h2 {
	color: #fff;
	font-size: 40px;
	letter-spacing: 1px;
}

.placement-sect h3 {
	color: #fff;
	font-size: 30px;
	margin-top: 20px;
}

.placement-sect h4 {
	color: #fff;
	font-size: 25px;
	margin-top: 10px;
}

.placement-sect p {
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}

.images {
	width: 49%;
	margin-right: 10px;
}

ul.placement-company {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto;

}

.placement-company li {
	width: 80%;
	/* float: left; */
	text-align: center;
	list-style: none;
}

.placement-company li img {
	width: 100%;
	height: 70px;
	max-width: 100%;
	margin-bottom: 5px;
}

											/*Galary*/
.gal {
	margin: 0px 0px;
	flex-direction: column;
}

.gallery {
	width: 100%;
	display: flex;
	gap: 20px;
	margin-top: 30px;
	animation: spin 10s infinite linear;
}

@keyframes spin {
	from {
		translate: 0;
	}

	to {
		translate: -100%;
	}
}

.gallery img {
	height: auto;
	width: 25%;
	border-radius: 15px;
}

/*FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION FOOTER SECTION */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
}

.footer-section {
	background-color: #1f2836;
	padding: 70px 20px;
	width: 100%;
	min-height: 60vh;

}

.footer-link {
	width: 25%;
	text-align: left;
	color: white;
}

.footer-link h2 {
	text-align: left;
	margin-bottom: 20px;
}

.footer-link p {
	line-height: 20px;
	padding: 0px 30px 0px 0px;
}

.social-icon {
	display: flex;
	gap: 10px;
	list-style: none;
	margin-top: 20px;
}

.social-icon li {
	padding-left: 10px;
}

.social-icon li a i {
	color: #fff;
	font-size: 18px;
	padding: 5px 10px;
}

.social-icon .fa-twitter {
	background: #2ed1ff;
}

.social-icon .fa-whatsapp {
	background: #4CAF50;
}

.social-icon .fa-facebook {
	background: #3b5998;
}

.social-icon .fa-linkedin {
	background: #3b5998;
}

.footer-menu {
	padding: 0px;
	width: 100%;
	/* float: left; */
	/* display: flex; */
	align-items: center;
	justify-content: center;
	list-style: none;
}

.footer-menu li {
	width: 50%;
	float: left;
	list-style: none;
	margin-bottom: 10px;
}

.footer-menu li a {
	color: #fff;
	text-decoration: none;
}

.footer-contact {
	list-style: none;
	padding: 0px;
	width: 100%;
	float: left;
	color: #fff;
}

.footer-contact li {
	width: 100%;
	/* float: left; */
	margin-bottom: 10px;
}

.footer-contact span {
	padding-left: 5px;
}

.newsletter p {
	margin-bottom: 10px;
}

.newsletter input {
	width: 100%;
	float: left;
	padding: 10px;
}

.newsletter button {
	width: 100%;
	float: left;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: gold;
	margin-top: 10px;
}
											/* mobile view */
@media (min-width: 300px) and (max-width: 600px) {
	/* header */
	.notification{
		display: none;
	}
	/* notice */
	.noev{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.note-event{
		width: 100%;
		min-height: auto;
	}
	.event-content h3{
		font-size: 12px;
	 }
	
	/* cambus */
	.campus{
		flex-direction: column;
		align-items: center;
	}
	.campus img{
		width:100%;
	}
	 .girl {
        width: 336px;
        height: 315px;
        margin-right: 17px;
        margin-bottom: 0px;
        margin-top: 19px;
        object-fit: cover;
    }
	.about-campus{
		width:100%;
	}	
	/* achivement */
	.achievement h2{
	text-align: center;
	}
	/* courses */
	.Pop{
		flex-direction: column;
		align-items: center;
		min-height: auto;
	}
	.popular-course{
		width:100%;
		padding: 20px;
		margin-left: 0px;
		height: auto;
		text-align: center;
	}
	.popular-course p{
		text-align: left;
	}
	.popular-course span{
		text-align: center;
		display: none;
	}
	.Courses{
		width:100%;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		justify-content: center;
	}
	
/* .Courses {
	width: 60%;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
} */

.course-list {
	text-align: center;
	margin-bottom: 20px;
	padding: 10px 10px;
	width: 95%;
}
	/* review */
	.review{
		margin-bottom: 20px;
	}
	/*placement*/
	.placement {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.placement-sect {
		width: 100%;
		padding: 5px;
		margin-top: 5px;
		text-align: center;
	}

	.images {
		width: 100%;
		margin-top: 10px;
	margin-right: 26px;
	}
	.placement-company li {
		width: 100%;
	}

	.placement-company li img {
	width: auto;
	height: 50px;
	max-width: 100%;
}

	/* gallery */
	.gal{
		height: 50vh;
	}
	.gallery img{
		width: 250px;
		height: 250px;
	}
	/* footer */
	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* flex-wrap: wrap; */
	}

	.footer-link {
		width: 310px;
		margin-bottom: 30px;
		text-align: center;
	}
	.footer-menu{
		/* text-align: center; */
		/* display: flex;
		align-items: center;
		justify-content: center; */
	}
	/* .lists{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	} */
	
	.footer-link h2{
		text-align: center;
	}
	.footer-link p{
		margin-left: 30px;
		line-height: 18px;
	}
	.social-icon{
		margin-left: 20px;
	}
}
@media (min-width: 601px) and (max-width: 990px) {
	/* Nav bar notifiction */
	.noti {
    width: 84%;
}
/* notice */
	 .notice-board ul li {
		width: 50%;
	 }
	 .event-content h3{
		font-size: 15px;
	 }
	  .event-content p{
		font-size: 18px;
	 }

	/* cambus */
	.campus{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.stud{
		width: 100%;
	}
	.stud img{
		margin-left: 20px;
	}
	.about-campus{
		width:100%;
	}	
	/* achievement */
	.achi {
		display: none;
	}
	/* courses */
	.Pop{
		flex-direction: column;
		align-items: center;
		min-height: auto;
	}
	.popular-course{
		width:100%;
		padding: 20px;
	}
	.popular-course h2{
		text-align: center;
	}
	.popular-course span{
		display: none;
	}
	.Courses{
		width:100%;
		justify-content: center;
	}

	/* review */
	.review {
		padding-bottom: 20px;
	}

	/*placement*/
	.placement {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.placement-sect {
		width: 100%;
		padding: 5px;
		margin-top: 5px;
		text-align: center;
	}

	.images {
		width: 100%;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		/* margin-right: 40px; */
	}


	.placement-company li img {
	width: auto;
	height: 60px;
	max-width: 100%;
}

	/* footer */
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.footer-link {
		width: 350px;
		margin-bottom: 30px;
	}
}